<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regidter</title>
</head>
<body>
    <h1>Register Here</h1>
           
    <form class="form" method="POST" action="/add_user">
        <label >Name</label><br>
        <input type="text"  name="uname" ><br>
        <label >Email</label><br>
        <input type="email"  name="uid" ><br>
        <label >Password</label><br>
        <input type="password"  name="upass" ><br><br>
        <input type="submit"  value="Register">
    </form>
    <p>Not a member? <a href="/">Login</a></p>
  
</body>
</html>